#gir-image
	%img{:src => "/img/girkachu.png"}
#search
	Start typing to search for your Pokémon.
	#search-box
		%form{:action => "search", :method => "POST", :id => "pokemon-search"}
			%input{:type => "text", :class => "input-large", :id => "pokemon-input", :name => "pokemon", "data-provide"=>"typeahead", "data-items"=>"10", "autocomplete"=>"off", :autofocus => "", :placeholder => "Find a Pokémon...", "data-source" => settings.pokemon_names}
			%button{:type=>"submit", :class => "btn btn-small", :style => "margin-bottom: 10px; font-weight: bold;"}
				%i{:class => "icon-search"}
				Search