#gir-image
	%img{:src => "images/girkachu.png"}
#search
	Start typing to search for your Pokemon.
	#search-box
		%form{:action => "search", :method => "POST", :id => "pokemon-search"}
			%input{:type => "text", :id => "pokemon-input", :name => "pokemon", :class => "span3", "data-provide"=>"typeahead", "data-items"=>"10", "autocomplete"=>"off", :autofocus => "", :placeholder => "Find a Pokemon...", "data-source" => settings.pokemon_names}
			%input{:type=>"submit", :class => "btn btn-small", :style => "margin-bottom: 10px; font-weight: bold;", :value => "Search"}