%script{:type => "text/javascript", :src  => "js/jquery.js"}
%script{:type => "text/javascript", :src  => "js/bootstrap-typeahead.js"}
#search-bottom
	Search for another Pokemon.
	#search-box-bottom
		%form{:action => "search", :method => "POST", :id => "pokemon-search"}
			%input{:type => "text", :id => "pokemon-input", :class => "span3", "data-provide"=>"typeahead", "data-items"=>"10", "autocomplete"=>"off", :autofocus => "", :placeholder => "Find a Pokemon...", "data-source" => Pokemon.only(:name).map {|x| x.name}}
			%input{:type=>"submit", :class => "btn btn-small", :style => "margin-bottom: 10px; font-weight: bold;", :value => "Search"}