!!!
%html
	%head
		%title Give Me A Pokemon
		%link(rel="stylesheet" href="css/styles.css")
		%link(rel="stylesheet" href="css/bootstrap.css")
		%link(rel="stylesheet" href="http://fonts.googleapis.com/css?family=Exo" type="text/css")
	%body
		#about-body
			Copyright (C) <a href="http://larryprice.github.com" title="My blog" alt="Link to Blog" target="_blank">Larry Price</a> 2012
		= yield