#about-body {
	position: absolute;
	right: 0;
	top: 0;
	text-align: right;
	margin-right: 5px;
	margin-top: 5px;
	color: whitesmoke;
	font-weight: bold;
}

#search {
	position: absolute;
	text-align: center;
	width: 100%;
	top: 20%;
	font-size: 20px;
	font-weight: bold;
	min-height: 50px;
}

#search-bottom {
	position: absolute;
	text-align: center;
	width: 100%;
	bottom: 0%;
	font-size: 18px;
	font-weight: bold;
	min-height: 50px;
}

#search-box-bottom {
	min-height: 20px;
	padding: 5px;
}

#search-box {
	min-height: 20px;
	padding: 19px;
}

body {
	font-family: 'Exo', sans-serif;
}

html { 
	background: url(../images/pokeball-bg.png) no-repeat center center fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}
