#about-body {
	position: absolute;
	right: 0;
	top: 0;
	text-align: right;
	margin-right: 5px;
	margin-top: 5px;
	color: black;
	font-size: 18px;
	font-weight: bold;
}

#search {
	position: absolute;
	width: 47%;
	text-align: center;
	top: 40%;
	font-size: 28px;
	line-height: 30px;
	font-weight: bold;
	min-height: 50px;
}

#search-box {
	font-size: 22px;
	min-height: 20px;
	padding: 19px;
}

#pokemon-info {
	position: absolute;
	text-align: center;
	left: 60%;
	top: 15%;
	font-weight: bold;
	font-size: 24px;
	line-height: 30px;
}

#pokemon-details {
	font-size: 14px;
	line-height: 20px;
}

#gir-image {
	position: absolute;
	text-align: center;
	right: 25%;
	margin-right: -200px;
	top: 50%;
	margin-top: -250px;
	font-size: 20px;
	font-weight: bold;
}

#logo {
	position: absolute;
	bottom: 1%;
	left: 50%;
	margin-left: -100px;
}

#about-body {
	position: absolute;
	right: 0;
	top: 0;
	text-align: right;
	margin-right: 5px;
	margin-top: 5px;
}

body {
	font-family: 'Exo', sans-serif;
	color: black;
}

html { 
	background: url(../img/pokeball-bg.png) no-repeat center center fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}
